#profile-pic {
    width: 100%;
    max-width: 220px;
}

.vertical-middle {
    vertical-align: bottom;
}

.bottom-padding {
    padding-bottom: 50px;
}

#parent-social {
    display: table;
}

#child-social {
    display: table-cell;
    vertical-align: middle;
}

#social-icons {
    font-size: 48px;
}